.topbar-logo {
    width: 20%;
    height: 40px;
    background: rgba(24, 115, 216, 0.15);
    float: left;
    text-align: center;
}

.topbar-logo h3{
    font-size: large;
    margin-top: 5px;
}

.topbar-right {
    width: 80%;
    float: left;
}

.topbar-right a{
    float: right;
    font-size: larger;
    margin: 8px;
}

.topbar {
    border-bottom: 1px solid #e9e9e9;
    height:40px;
}