<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="../../vendors/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../vendors/plugins/jquery.ez-bg-resize.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$(document).ready(function() {
			$("body").ezBgResize({
				img     : "../../static/image/bigbar3.jpg", // Relative path example.  You could also use an absolute url (http://...).
				opacity : 1, // Opacity. 1 = 100%.  This is optional.
				center  : true // Boolean (true or false). This is optional. Default is true.
			});
		});
	</script>

</head>
<body>

</body>
</html>